@import "@/assets/colors.scss";

.features {
  background-image: url("@/public/images/background-mac.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding: 200px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
    opacity: 0.5;
  }

  .img-items {
    .screen {
      position: absolute;
      left: 0;
      top: 5%;
    }
  }
}