@media screen and (max-width: 878px) {
    .auth-items {
      display: flex;
      flex-direction: column;
      padding: 0 2vh 5vh 2vh !important;
    }
    .d-block {
      display: inline !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    .auth-items {
      padding: 0 2vh 5vh 2vh !important;
      .form-items {
        padding: 20px 10px !important;
        margin-top: 20px;
      }
    }
    .d-block {
      display: inline !important;
    }
  }