@media screen and (max-width: 878px) {
    .reviews-items-inner {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      padding: 10px;
      span {
        display: inline !important;
      }
    
    }
  }
  
  @media screen and (max-width: 576px) {
    .reviews-items-inner {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      padding: 10px;
      span {
        display: inline !important;
      }
      p{
          font-size:14px;
      }
    }
  }